[Unit]
Description=CC Rust Station Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/cc-rdeviceagent
ExecStart=/opt/cc-rdeviceagent/cc-rdeviceagent foreground --config /opt/cc-rdeviceagent/CC-rDeviceAgent.toml
Restart=always
RestartSec=2
User=root
Group=root

[Install]
WantedBy=multi-user.target
